	#slideshow-container{
			margin-top: 5%;
		}
	#demo{
		width: 100%;
    margin-top: 3%;
	}
	.carousel-item {
		margin-top: 3%;
  height: 27em !important;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 15em;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}
	