/* Dropdown Button */
.dropbtn {
    background-color: lightblue;
    color: white;
    padding: 10%;
    font-size: 16px;
    border: none;
	height : 1.8em;
}


.dropdown {
    position: relative;
    display: inline-block;
	margin-right : 2.5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width :100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
	text-align : center;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

