#formdiv{
				height: 300px;
				width: 700px;
				margin-left: 30%;
				margin-top: 50px;
				border-radius: 20px;
				padding: 10px;
				background-color: lightgray;
				border: 1px double black;
			}
			#inputdiv{
				margin-top: 10px;

			}
			#logregmsg{
				text-align: center;
			}
			#btndiv{
				margin-left: 60px;
			}
			#login-submit{
				margin-top: 3%;
			}
			
			#errormsg{
				font-size: 12;
				font-color : red;
			}
			#errormsg_div{
				align-content: center;
			}

			.formbutton{
				margin-left: 10%;
				margin-top: 30px;
				height: 70px;
				width: 180px;
			}
			.login-input
			{
				line-height: 4;
				width: 90%;
				margin-left: 5%;
			}