body{
	width: 65%;
	margin: 2% auto 1% auto;
	box-shadow:20px 20px 50px 15px grey;  
	border-radius: 1vh;
	padding: 0 1vh 2vh 1vh;
}
.main-content{
	margin: 5% auto 5% auto;
	width: 60%;
}
#myHead{
	text-align: center;
}