.topcomponent{
	margin-top: 70px;
}

a { 
	color: inherit; 
}

.sidebar{

	position: fixed;
	height: 100%;
	padding-top: 3vh;
	overflow: hidden;
}

.cardclass{
	padding: 0;
	width: 200px;
	height: 280px;
	margin: 2px;
}

.card-images{
	width:100%;
	height: 55%;
}

.card-images img{
	height: 100%;
}


.card-text{
	font-size: 13.5px;
}

.card-body{
	padding: 4px;
}
.card-footer{
	padding: 5px;
}

.carouselcontainer{
	margin-top:;
}

#searchbar{
	width: 80vh;
}

.searchform{
	width: 50%;
}


#navbarcolor{
	background-color: #5caeae;
}

.navbar{
	height: 40px;
}

.navbar2nd{
	padding-top: 0vh;
	padding-bottom: .5vh;
}

.navbar-button{
		height: 100%;
		width: 19%;
		background-color: lightblue;
		text-align: center;
		vertical-align : center
		display : inline-block;
		border-radius : 15px;
		margin-top : 1%;
		font-size : 20px;
}

.inl{
	display: inline-block;
	vertical-align: top;
}
			
input{
    font-size: 20px;
    line-height: 3;
}

.bg{
	background-color: azure;
	border-color: azure;
}

body{
	background-color: azure;
			
}
.navbar-button{
	padding-top: 0.9em;
}

.itemimg{
	width: 480px;
	height: 480px;
}

.itemimg img{
	max-width: 100%;
	max-height: 100%;
}

.itemprice{
	font-size: 18px;
}

input[type=number]{
    width: 90px;
    height: 35px;
}
.footer{
	height: 70px;
}

.copyright{
	margin: auto;
}